/* Attribution: Diff styles based on <https://en.wikipedia.org/wiki/Wikipedia:AutoWikiBrowser/style.css> */
table.diff, td.diff-otitle, td.diff-ntitle { 
	table-layout: auto !important;
}

td.diff-otitle, td.diff-ntitle { 
	text-align: center; 
}

td.diff-marker { 
	text-align: right; 
	font-weight: bold; 
	font-size: 1.25em; 
}

td.diff-lineno { 
	font-weight: bold; 
}

td.diff-addedline, td.diff-deletedline, td.diff-context { 
	font-size: 88%; 
	vertical-align: top; 
	white-space: pre-wrap; 
}

td.diff-addedline, td.diff-deletedline { 
	border-style: solid; 
	border-width: 1px 1px 1px 4px; 
	border-radius: 0.33em; 
}

td.diff-addedline { 
	border-color: #a3d3ff; 
}

td.diff-deletedline { 
	border-color: #ffe49c; 
}

td.diff-context { 
	background: #f3f3f3; 
	color: #333; 
	border-style: solid; 
	border-width: 1px 1px 1px 4px; 
	border-color: #e6e6e6; 
	border-radius: 0.33em; 
}

.diffchange { 
	font-weight: bold; 
	text-decoration: none; 
}

table.diff {
	border: none;
	width: 98%; 
	border-spacing: 4px;
	table-layout: fixed; /* Ensures that columns are of equal width */
}

td.diff-addedline .diffchange, td.diff-deletedline .diffchange { 
	border-radius: 0.33em; 
	padding: 0.25em 0; 
}

td.diff-addedline .diffchange { 
	background: #d8ecff; 
}

td.diff-deletedline .diffchange { 
	background: #feeec8; 
}

table.diff td { 
	padding: 0.33em 0.66em; 
}

table.diff col.diff-marker { 
	width: 2%; 
}

table.diff col.diff-content { 
	width: 48%; 
}

table.diff td div {
	/* Force-wrap very long lines such as URLs or page-widening char strings. */
	overflow-wrap: break-word;

	/* As fallback (FF<3.5, Opera <10.5), scrollbars will be added for very wide cells
		instead of text overflowing or widening */
	overflow: auto;
}

/* Override OOUI window manager preventing background scrolling/interaction */
html body.rater-mainWindow-open {
	position: unset;
	overflow: unset;
}

html body.rater-mainWindow-open .oo-ui-windowManager-modal > .oo-ui-dialog.oo-ui-window-active {
	position: static;
	padding: 0;
}

/* Increase z-index, to be above skin menus etc; smooth transition for dragging (transform:translate) */
html body.rater-mainWindow-open .oo-ui-dialog.oo-ui-window-active > div {
	z-index: 110;
	transition: all 0.25s ease-out 0s, transform 0s !important;
}

/* Ensure close dialog is visible */
html body.rater-mainWindow-open #mw-teleport-target {
	inset: 0;
}

/* TopBarWidget styles */
.rater-topBarWidget {
	position: fixed;
	width: 100%;
	background: #ccc;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: -2px 0 0;
}

.rater-topBarWidget-searchBox {
	display: inline-block;
	margin: 0 -1px;
	width: calc(100% - 55px);
}

.rater-topBarWidget-addButton {
	float: right;
	margin: 0;
	transform: translateX(-12px);
}

.rater-topBarWidget-searchContainer {
	display: inline-block;
	flex-shrink: 1;
	flex-grow: 100;
	min-width: 250px;
	width: 50%;
}

.rater-topBarWidget-setAllDropdown {
	width: auto;
	display: inline-block;
	float: left;
	margin: 0;
}

.rater-topBarWidget-menuButtons {
	flex: 1 0 auto;
}

/* MainWindow styles */
.rater-mainWindow-oresLabel {
	float: right;
	padding: 10px;
	max-width: 50%;
	text-align: center;
}

.rater-mainWindow-oresImg {
	vertical-align: text-bottom;
}

.rater-mainWindow-pagetypeLabel {
	float: right;
	padding: 10px;
	max-width: 33.33%;
	text-align: center;
}

.rater-mainWindow-titleLink {
	font-weight: bold;
}

.rater-mainWindow-titleVersion {
	font-size: 90%;
}

.rater-mainWindow-errorStrong {
	display: block;
}

.rater-mainWindow-errorMessage {
	color: #777;
}

/* ParameterWidget styles */
.rater-parameterWidget {
	width: unset;
	display: inline-block;
	border-radius: 10px;
	padding-left: 10px;
	margin: 0 8px 8px 0;
}

.rater-parameterWidget-normal {
	border: 1px solid #ddd;
	background: #fffe;
}

.rater-parameterWidget-autofilled {
	border: 1px dashed #36c;
	background: #fffe;
}

.rater-parameterWidget-invalid {
	border: 1px solid #ddd;
	background: #fddd;
}

.rater-parameterWidget-editing {
	border: 1px solid #ddd;
	background: #fffe;
}

.rater-parameterWidget-checkbox {
	margin: 0 0 0 5px;
}

.rater-parameterWidget-input {
	margin-bottom: 0;
}

.rater-parameterWidget-input input {
	padding-top: 0;
	padding-bottom: 2px;
	height: 24px;
}

.rater-parameterWidget-input span.oo-ui-labelElement-label {
	line-height: normal;
}

.rater-parameterWidget-input a.oo-ui-buttonElement-button {
	padding-top: 0;
	height: 24px;
	min-height: 0;
}

.rater-parameterWidget-confirmButton {
	margin-right: 0;
}

.rater-parameterWidget-editButtonGroup {
	font-size: 92%;
}

.rater-parameterWidget-editButtonGroup a span:first-child {
	min-width: unset;
	width: 16px;
	margin-right: 0;
}

.rater-parameterWidget-editLayoutHelp {
	margin: -10px 0 5px 10px;
}

.rater-parameterWidget-invalidIcon {
	margin: 0 5px 0 -5px;
	min-width: 16px;
	width: 16px;
}

.rater-parameterWidget-fullLabel {
	margin: 0;
}

.rater-parameterWidget-autofilledIcon {
	margin: 0 -5px 0 5px;
	min-width: 16px;
	width: 16px;
}

.rater-parameterWidget-editButton {
	margin-bottom: 0;
}

.rater-parameterWidget-editButton a {
	border-radius: 0 10px 10px 0;
	margin-left: 5px;
}

.rater-parameterWidget-editButton a span:first-child {
	min-width: unset;
	width: 16px;
}

.rater-parameterWidget-readLayout {
	margin: 0;
	width: unset;
}

/* ParameterListWidget styles */
.rater-parameterListWidget-showMoreButton,
.rater-parameterListWidget-addButton {
	margin-bottom: 0;
}

/* LoadDialog styles */
.rater-loadDialog-taskLabel {
	display: block;
}

.rater-loadDialog-initLabel {
	display: block;
}

/* DropdownParameterWidget styles */
.rater-dropdownParameterWidget {
	display: inline-block;
	width: 24%;
}

.rater-dropdownParameterWidget-autofilledIcon {
	margin: 0 -5px 0 5px;
	min-width: 16px;
	width: 16px;
	left: unset;
}

.rater-dropdownParameterWidget-autofilled .oo-ui-dropdownWidget-handle {
	border: 1px dashed #36c;
}

/* BannerWidget styles */
.rater-bannerWidget-removeButton,
.rater-bannerWidget-clearButton {
	width: 100%;
}

.rater-bannerWidget-removeButton a,
.rater-bannerWidget-clearButton a {
	width: 100%;
}

.rater-bannerWidget-titleButtonsGroup {
	width: 100%;
}

.rater-bannerWidget-mainLabelPopup {
	display: inline-block;
	width: 48%;
	margin-right: 0;
	padding-right: 8px;
}

.rater-bannerWidget-mainLabelPopup a:first-child {
	font-size: 110%;
}

.rater-bannerWidget-mainLabelPopup span.oo-ui-labelElement-label {
	white-space: normal;
}

.rater-bannerWidget-labelMuted {
	color: #777;
}

.rater-bannerWidget-addParameterName {
	display: inline-block;
	width: 40%;
}

.rater-bannerWidget-addParameterValue {
	display: inline-block;
	width: 40%;
}

.rater-bannerWidget-shellTemplate {
	background: #eee;
	border-radius: 10px;
	padding: 0 10px 5px;
	margin-bottom: 12px;
	font-size: 92%;
}